.active {
  color: #b93e00;
}
.wrapper {
  width: 100%;
  padding: 20px 16px;
  border-bottom: 2px solid #b93e00;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.nav {
  display: flex;
  align-items: center;

  gap: 48px;
}
.tag {
  font-size: 16px;
  font-weight: 600;
}

input {
  border-radius: 5px;

  border: 1px solid #ffffff;
  outline: none;
  background: transparent;
  color: white;
  padding: 4px 8px;
}

input:focus {
  border-color: #b93e00;
}
.logo {
  font-size: 24px;
  color: #b93e00;
}
